<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Dashboard - Top Prop Mart</title>
		<% include ./common/header-script %>
    </head>
    <body>
        <div class="main-wrapper">
            <% include ./common/header %>
            <% include ./common/side-menu %>
            <div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="adminpage-heading">
                                <div>
                                    <h2>Add User</h2>
                                </div>
                            </div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="m-b-30" action="/admin/userregister" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Full Name <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">User Name/Email <span class="text-danger">*</span></label>
                                            <input class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Confirm Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">User Type<span class="text-danger">*</span></label>
                                            <select name="usertype" class="form-control" id="">
                                                <option value="">Select User Type</option>
                                                <option value="user">User</option>
                                                <option value="vendor">Vendor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Description<span class="text-danger">*</span></label>
                                            <textarea name="" id="" class="form-control"  rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Mobile<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Address<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">  
                                        <div class="form-group">
                                            <label class="control-label">Facebook Id<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Company</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="m-t-20 text-center">
                                    <button type="submit" class="btn btn-primary">Create User</button>
                                </div>
                            </form>
                        </div>
                    </div>
				</div>
				<% include ./common/side-notification %>		
			</div>
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        <% include ./common/all-modals %>
        <% include ./common/footer-script %>
    </body>
</html>