<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Dashboard - Top Prop Mart</title>
		<% include ./common/header-script %>
    </head>
    <body>
        <div class="main-wrapper">
            <% include ./common/header %>
            <% include ./common/side-menu %>
            <div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-md-12" style="margin-bottom: 40px;">
							<div class="adminpage-heading">
                                <div>
                                    <h2>Add News/Blog Post</h2>
                                </div>
                            </div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="m-b-30" action="/add-blogpost" method="POST">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Title<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Slug<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Author</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Short Description<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Image</label>
                                            <input class="form-control" type="file">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Published Date</label>
                                            <div class="cal-icon"><input class="form-control floating datetimepicker" type="text"></div>           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" cols="5" class="form-control summernote" placeholder="Enter your message here"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-t-20 text-center">
                                    <button class="btn btn-primary">Create Testinomial</button>
                                </div>
                            </form>
                        </div>
                    </div>
				</div>
				<% include ./common/side-notification %>		
			</div>
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        <% include ./common/all-modals %>
        <% include ./common/footer-script %>
    </body>
</html>