<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title></title>
		<% include ./partial/header-script %>
    </head>
    <body>
        <div class="main-wrapper">
			<div class="account-page">
				<div class="container">
                    <div class="text-center">
                        <% if(err){ %><p style="color:red"><%=err.errors; %></p><% } %>               
                        <% if(msg){ %><p style="color:red"><%=msg;%></p><% } %>
                    </div>
					<h3 class="account-title">Admin Login</h3>
					<div class="account-box">
						<div class="account-wrapper">
                            <div class="account-logo">
                                <a href=""><img src="assets/img/top-logo.jpg" alt="Focus Technologies"></a>
                            </div>
							<form class="login-form" action="/user/login" method="POST">
								<div class="form-group form-focus">
									<label class="control-label">Username or Email</label>
									<input type="text" class="form-control floating" name="email">
								</div>
								<div class="form-group form-focus">
									<label class="control-label">Password</label>
									<input type="password" name="password" class="form-control floating">
								</div>
								<div class="form-group text-center">
									<button type="submit" class="btn btn-primary btn-block account-btn">Login</button>
								</div>
								<div class="text-center">
									<a href="forgot-password.html">Forgot your password?</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
		<div class="sidebar-overlay" data-reff="#sidebar"></div>
        <% include ./partial/footer-script %>
    </body>
</html>