<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> | Top propmart</title>
    <% include ../partial/home-header-scrript %>
</head>
<body>
    <section class="top-sec">
       <div class="container">
           <div class="row">
               <div class="col-md-6 ">
                   <div class="top-text">
                       <h4>Take control of the service experience during your property search & ownership journey.</h4>
                       <p>Provide more information about your property needs</p>
                       <p>Shortlist more property for site visits & evaluation</p>
                       <p>Rate your experience with us and give a feedback</p>
                       <p>View assigened sales expert's profile & request for change if required</p>
                       <p>Manage your meetings/sitevisits schedule</p>
                   </div>
               </div>
           </div>
       </div>
    </section>
    <section class="curv-sec">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"  version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 11355 4342"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <defs>
          <style type="text/css">
           <![CDATA[
            .fil0 {fill:whitesmoke}
           ]]>
          </style>
         </defs>
         <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <g id="_1687446240">
          </g>
          <path class="fil0" d="M57 4338l11186 0c0,-1386 0,-2772 0,-4158 91,-258 -2904,2377 -5094,1052 -2937,-1779 -5431,449 -6093,-1052l0 4158z"/>
         </g>
        </svg>
    </section>
    <section class="login-sec">
        <div class="login-div">
            <div class="text-right"><img src="/public/assets/img/output-onlinepngtools.png" width="50%" alt=""></div>
            <div style="background:darkgray;border-radius:50px;">
                <div class="inner-login-div">
                    <form action="" method="post">
                        <h2 class="text-center">USER LOGIN</h2>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <select name="countrycode" id="" class="form-control">
                                        <option value="">+91</option>
                                        <option value="">+86</option>
                                        <option value="">+33</option>
                                        <option value="">+49</option>
                                        <option value="">+81</option>
                                        <option value="">+89</option>
                                        <option value="">+971</option>
                                        <option value="">+44</option>
                                        <option value="">+1</option>
                                        <option value="">+94</option>
                                    </select>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input type="text" name="mobileno" class="form-control" placeholder="" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row otp-div ">
                                <div class="col-md-3">
                                    <input type="text" class="form-control otp" minlength="1" maxlength="1" placeholder="">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control otp" minlength="1" maxlength="1" placeholder="" >
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control otp" minlength="1" maxlength="1" placeholder="" >
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control otp" minlength="1" maxlength="1" placeholder="" >
                                </div>
                            </div>
                            <p class="text-center ">Validate otp</p>
                        </div> 
                        <div class="spanddiv">
                            <span>Don't have an Account yet?<a href="">Register Here.</a></span>
                        </div>
                        <div class="buttondiv">
                            <button type="submit" class="form-control">Proceed to Login</button>
                        </div>      
                    </form>
                </div>
            </div>
            
        </div>
    </section>
    <% include ../partial/home-footer-script %>
</body>
</html>